*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to right ,#ff6464 , #8b4367);
}
#calculator{
  width: 320px;
  height: 520px;
  background: #01024e;
  margin: 0 auto;
  top: 50px;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#result{
  height: 120px;
}
#keyboard{
  height: 400px;
}
#input{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #919191;
}
#output{
  text-align: right;
  height: 60px;
  margin:40px 20px;
  font-size: 35px;
  color: #ffffff;
}
.operator,.number,.empty{
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border: none;
  border-radius :50%;
  font-weight: bold;
  font-size: 15px;
}
.operator,.number{
  background: #ed8d8d;
}
#empty{
  background: #01024e;
}
.number,.operator{
  cursor: pointer;
}
.number:active,.operator:active{
  font-size: 13px;
}

.operator:focus,.number:focus,.empty:focus{
  outline: 0;
}

button:nth-child(4){
  font-size: 20px;
  background-color:#ff9d72;
}
button:nth-child(8){
  font-size: 20px;
  background-color:#ffe5b9;
}
button:nth-child(12){
  font-size: 20px;
  background-color:#dff3e3;
}
button:nth-child(16){
  font-size: 20px;
  background-color:#fff5c0;
}
button:nth-child(20){
  font-size: 20px;
  background-color:#ffe0d8;
}
